.swt-topbar{
    background: #F5F5F5;
    display: flex;
    flex-direction: row;
    font-family: "Encode Sans";
    width: 100%;
    padding-bottom: 10px;
    height: 410px;

    .MuiOutlinedInput-input{
        padding: 10px;
    }
    .Mui-focused {
        border-color: unset;
    }
    .MuiOutlinedInput-root {
        font-family: "Encode Sans";
    }
    .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
        border-color: unset;
        border:unset;
        font-family: "Encode Sans";
    }
    .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
        border-color: unset;
        font-family: "Encode Sans";
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
        border-color: unset;
        font-family: "Encode Sans";
    }
    &-links{
        height: 100px;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: #00AEC3;
        margin-right: 10px;
        border-radius: 10px;
        
        a{
            height: 100px !important;
            width: 100%;
            margin: auto;
        }
        cursor: pointer;
        
        &.ps-active{
            background-color: #E81F76;
        }
        .ps-menu-button:hover{
            background-color: unset !important;
            box-shadow: none !important;
        }
        &-title{
            color: #fff;
            font-family: "Encode Sans" !important;
            font-weight: 500 !important;
            font-size: 20px !important;
        }
        &-content{
            justify-content: center;
            display: flex;
        }
        &.nav-hv{
            background-color: #000;
            p{
                color:#fff
            }
        }
        &-sub-item{
            // position: absolute;
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 10;
            background-color: #272727;
            
            &-title{
                color: #fff;
            }
            .ps-menu-button:hover{
                background-color: unset !important;
                box-shadow: none !important;
            }
            &.ps-active  &-title{
                color: #02ABC1;
            }
        }
    }
}

