.swt-layout-main {
  height: 100vh;
  width: 100%;
  background-color: var(--bw-color-white);

  .swt-layout-content {
    transition: margin-left 0.5s;
    // overflow: auto;
    background-color: #fff;
    margin-top: 10px;
    height: auto;
    &.collapsed{
      margin-left: 130px;;
    }
  }

    .swt-layout-content-blank {
      margin-left: 300px;
      transition: margin-left 0.5s;
      overflow: auto;
      background: linear-gradient(61deg, #0287FD -8.58%, #0C60FF 45.66%, #0450FE 106.44%);
      /* background-image: url("../../../public/assets/background_login.png");
      background-repeat: no-repeat; */
    }
}