@media (max-width: 768px) {
    .data-grid table th, .data-grid table td {
      width: 50%; /* Reduce el ancho en pantallas pequeñas */
      padding: 5px;
    }
}
table{
    border-collapse: collapse;
    border: 1px solid #ccc;
    // tr{
    //     border: 1px solid #ccc;
    // }
    td{
        border-bottom: 1px solid #ccc;
    }
    tr{
        height: 50px;
    }
    .selected{
        background-color: rgba(29, 189, 205, 0.20);
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: unset !important; 
        border: 0;
    }
}
.data-table{
    &-details{
        td{
            padding: 20px;
            border-bottom: 1px solid #CCC;
        }
    }
    &-pagination{
        height: 50px;
    
        .btn{
            background-color: #FFF;
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.20), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
            border-color: unset;
            border-radius: 4px;
            padding: 0px 6px;
            min-width: 32px;
            height: 32px;
            margin: 0 3px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            border: unset;
        }
        .btn-primary{
            background-color: #E81F76;
            color: #fff;
            position: static;
        }
        .btn-secondary{
            width: 32px;
            position: static;
        }
    }
    &-filter-status{
        background-color: #fff;
        border-radius: 10px;
        border: 0.5px solid #000;

        .ps-menu-button:hover{
            background-color: unset !important; 
        }
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1.5px);
    transition: opacity 0.3s ease-in-out;
  }
  
