.swt-profile-menu{
    background-color: red;
}
.swt-profile-menu-image{
    width: 200px;
    height: 50px;
    display: flex;
    cursor:pointer;
    justify-content:left;
    flex-direction: row;
    contain: content;
}

.MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    right: 38px;
}